{% extends 'shop/basic.html' %}

{% block css%}
<style>
  * {
font-family: Nunito, sans-serif;
}

.responsive-container-block {
min-height: 75px;
height: fit-content;
width: 100%;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
display: flex;
flex-wrap: wrap;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
justify-content: flex-start;
}

a {
text-decoration-line: none;
text-decoration-thickness: initial;
text-decoration-style: initial;
text-decoration-color: initial;
}

.text-blk {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
line-height: 25px;
}

.responsive-container-block.bigContainer {
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px;
padding-left: 30px;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 10px 50px 10px 50px;
}

.mainImg {
color: black;
width: 100%;
height: auto;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}

.text-blk.headingText {
font-size: 22px;
font-weight: 700;
line-height: 30px;
color: rgb(176, 98, 255);
padding-top: 0px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 5px;
margin-left: 0px;
}

.allText {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
width: 40%;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.text-blk.subHeadingText {
color: rgb(102, 102, 102);
font-size: 26px;
line-height: 32px;
font-weight: 700;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 15px;
margin-left: 0px;
padding-top: 0px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 0px;
}

.text-blk.description {
font-size: 18px;
line-height: 26px;
color: rgb(102, 102, 102);
margin-top: 0px;
margin-right: 0px;
margin-bottom: 50px;
margin-left: 0px;
font-weight: 400;
padding-top: 0px;
padding-right: 10px;
padding-bottom: 0px;
padding-left: 0px;
}

.explore {
font-size: 16px;
line-height: 28px;
color: rgb(102, 102, 102);
border-top-width: 2px;
border-right-width: 2px;
border-bottom-width: 2px;
border-left-width: 2px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: rgb(102, 102, 102);
border-right-color: rgb(102, 102, 102);
border-bottom-color: rgb(102, 102, 102);
border-left-color: rgb(102, 102, 102);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
cursor: pointer;
background-color: white;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding-top: 8px;
padding-right: 40px;
padding-bottom: 8px;
padding-left: 40px;
}

.explore:hover {
background-image: initial;
background-position-x: initial;
background-position-y: initial;
background-size: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-origin: initial;
background-clip: initial;
background-color: rgb(176, 98, 255);
color: white;
border-top-width: initial;
border-right-width: initial;
border-bottom-width: initial;
border-left-width: initial;
border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;
border-top-color: initial;
border-right-color: initial;
border-bottom-color: initial;
border-left-color: initial;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}

.responsive-container-block.Container {
margin-top: 80px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
justify-content: center;
align-items: center;
max-width: 1320px;
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
flex-direction: row-reverse;
margin-top: 80px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
position: static;
}

.allText.aboveText {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 40px;
}

.allText.bottomText {
margin-top: 0px;
margin-right: 40px;
margin-bottom: 0px;
margin-left: 0px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
padding-top: 0px;
padding-right: 15px;
padding-bottom: 0px;
padding-left: 0px;
}

.purpleBox {
display: flex;
flex-direction: column;
align-items: flex-start;
max-width: 430px;
background-color: rgb(176, 98, 255);
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
position: absolute;
bottom: -35px;
left: -8%;
}

.purpleText {
font-size: 18px;
line-height: 26px;
color: white;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 10px;
margin-left: 0px;
}

.ultimateImg {
width: 50%;
position: relative;
}

@media (max-width: 1024px) {
.responsive-container-block.Container {
max-width: 850px;
}

.mainImg {
width: 55%;
height: auto;
}

.allText {
width: 40%;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 20px;
}

.responsive-container-block.bigContainer {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
margin-top: 80px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
}

.responsive-container-block.Container {
max-width: 830px;
}

.allText.aboveText {
margin-top: 30px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 40px;
}

.allText.bottomText {
margin-top: 30px;
margin-right: 40px;
margin-bottom: 0px;
margin-left: 0px;
text-align: left;
}

.text-blk.headingText {
text-align: center;
}

.allText.aboveText {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 30px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.text-blk.subHeadingText {
text-align: left;
font-size: 26px;
line-height: 32px;
}

.text-blk.description {
text-align: left;
line-height: 24px;
}

.explore {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.responsive-container-block.bigContainer {
padding-top: 10px;
padding-right: 30px;
padding-bottom: 10px;
padding-left: 30px;
}

.responsive-container-block.Container {
justify-content: space-evenly;
}

.purpleBox {
bottom: 10%;
}

.responsive-container-block.Container.bottomContainer {
padding-top: 10px;
padding-right: 0px;
padding-bottom: 10px;
padding-left: 0px;
max-width: 930px;
}

.allText.bottomText {
width: 40%;
}

.purpleBox {
bottom: auto;
left: -10%;
top: 70%;
}

.mainImg {
width: 100%;
}

.text-blk.headingText {
text-align: left;
}
}

@media (max-width: 768px) {
.allText {
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}

.responsive-container-block.Container {
flex-direction: column;
height: auto;
}

.text-blk.headingText {
text-align: center;
}

.text-blk.subHeadingText {
text-align: center;
font-size: 24px;
}

.text-blk.description {
text-align: center;
font-size: 18px;
}

.allText {
margin-top: 40px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.allText.aboveText {
margin-top: 40px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.responsive-container-block.Container {
margin-top: 80px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
}

.responsive-container-block.Container.bottomContainer {
margin-top: 50px;
margin-right: auto;
margin-bottom: 50px;
margin-left: auto;
}

.allText.bottomText {
margin-top: 40px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.mainImg {
width: 100%;
margin-top: 0px;
margin-right: 0px;
margin-bottom: -70px;
margin-left: 0px;
}

.responsive-container-block.Container.bottomContainer {
flex-direction: column;
}

.ultimateImg {
width: 100%;
}

.purpleBox {
position: static;
}

.allText.bottomText {
width: 100%;
align-items: flex-start;
}

.text-blk.headingText {
text-align: left;
}

.text-blk.subHeadingText {
text-align: left;
}

.text-blk.description {
text-align: left;
}

.ultimateImg {
position: static;
}

.mainImg {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.ultimateImg {
position: relative;
}

.purpleBox {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
position: absolute;
left: 0px;
top: 80%;
}

.allText.bottomText {
margin-top: 100px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
}

@media (max-width: 500px) {
.responsive-container-block.Container {
padding-top: 10px;
padding-right: 0px;
padding-bottom: 10px;
padding-left: 0px;
width: 100%;
max-width: 100%;
}

.mainImg {
width: 100%;
}

.responsive-container-block.bigContainer {
padding-top: 10px;
padding-right: 25px;
padding-bottom: 10px;
padding-left: 25px;
}

.text-blk.subHeadingText {
font-size: 24px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
line-height: 28px;
}

.text-blk.description {
font-size: 16px;
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
line-height: 22px;
}

.allText {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
width: 100%;
}

.allText.bottomText {
margin-top: 50px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
padding: 0 0 0 0;
margin: 30px 0 0 0;
}

.ultimateImg {
position: static;
}

.purpleBox {
position: static;
}

.stars {
width: 55%;
}

.allText.bottomText {
margin-top: 75px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}

.responsive-container-block.bigContainer {
padding-top: 10px;
padding-right: 20px;
padding-bottom: 10px;
padding-left: 20px;
}

.purpleText {
font-size: 16px;
line-height: 22px;
}

.explore {
padding: 6px 35px 6px 35px;
font-size: 15px;
}
}

/* Header css */
.header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #f5f5f5;
}

.header .logo {
font-size: 25px;
font-family: 'Sriracha', cursive;
color: #000;
text-decoration: none;
margin-left: 30px;
}

.nav-items {
display: flex;
justify-content: space-around;
align-items: center;
background-color: #f5f5f5;
margin-right: 20px;
}

.nav-items a {
text-decoration: none;
color: #000;
padding: 35px 20px;
}
/* footer css */
body{
margin:0;
overflow-x:hidden;
}

.footer{
/* background-image: url('footer_img.jpeg'); */
background:rgb(150, 181, 236); 
padding:30px 0px;
font-family: 'Play', sans-serif;
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:white;
font-size:0.8em;
justify-content: center;
}

.footer .row a{
text-decoration:none;
color:white;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Adjust the gap between cards */
}

.team-member-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 300px; /* Adjust width as needed */
  flex: 1 1 300px; /* Ensure each card has equal width */
  margin-bottom: 30px; /* Adjust margin as needed */
}

.team-member-img {
  width: 100%;
  border-radius: 50%;
  max-width: 150px; /* Adjust size as needed */
  margin: 0 auto 15px; /* Center image and add space */
}

.team-member-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.team-member-position {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.team-member-bio {
  font-size: 14px;
  line-height: 1.6;
  color: #888;
}

</style>

{% endblock %}

{% block body%}

{% load static %}
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <img class="mainImg" src="{% static 'shop/about_us.jpg' %}">
    </div>
    <div class="allText bottomText">
      <p class="text-blk headingText">
        ABOUT US
      </p>
      <p class="text-blk subHeadingText">
       We thrive on innovation and out-of-the-box thinking to bring fresh ideas to life.
      </p>
      <p class="text-blk description">
          At EVENT ESSENTIAL , we are more than just event planners; we are storytellers. 
          With a passion for creating unforgettable experiences, we specialize in turning your vision into reality.
          Our team of dedicated professionals brings creativity, precision, and a touch of magic to every event 
          we undertake.
      </p>
     
    </div>
  </div>
</div>

<div class="team-members">
  <!-- First row -->
  <div class="team-member-card">
    <img class="team-member-img" src="{% static 'shop/boylj.jpg' %}" alt="Team Member 1">
    <h3 class="team-member-name">Vasu Dalsaniya</h3>
    <p class="team-member-position">Backed Developer</p>
    <p class="team-member-bio">
    
    </p>
  </div>

  <div class="team-member-card">
    <img class="team-member-img" src="{% static 'shop/girl.png' %}" alt="Team Member 2">
    <h3 class="team-member-name">Hetal Panchal</h3>
    <p class="team-member-position">Backend Developer</p>
    <p class="team-member-bio">
    </p>
  </div>

  <div class="team-member-card">
    <img class="team-member-img" src="{% static 'shop/boylj.jpg' %}" alt="Team Member 3">
    <h3 class="team-member-name">Divyesh Butani</h3>
    <p class="team-member-position">Design the Website</p>
    <p class="team-member-bio">
       </p>
  </div>

  <!-- Second row -->
  <div class="team-member-card">
    <img class="team-member-img" src="{% static 'shop/girl.png' %}" alt="Team Member 4">
    <h3 class="team-member-name">Pratistha Chapanera</h3>
    <p class="team-member-position">Frontend Developer</p>
    <p class="team-member-bio">
      </p>
  </div>

  <div class="team-member-card">
    <img class="team-member-img" src="{% static 'shop/boylj.jpg' %}" alt="Team Member 5">
    <h3 class="team-member-name">Neel Patel</h3>
    <p class="team-member-position">Frontend Developer</p>
    <p class="team-member-bio">
       </p>
  </div>
</div>
</div>
{% endblock %}